# =======================
# Sistema / IDE / Python
# =======================
.DS_Store
Thumbs.db
.vscode/
.idea/
__pycache__/
*.pyc

# Entornos virtuales
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# =======================
# DATA (más estricto)
# =======================

# Ignorar TODOS los CSV en TODO el repo
*.csv


# PERO NO ignorar los procesados finales (3.processed)
!data/model1_cv_role/3.processed/*.csv
!data/model2_salaries/3.processed/*.csv


# =======================
# MODELOS entrenados
# =======================
models/*
